<%- layout('./layout/boilerplate.ejs') -%>

<link rel="stylesheet" href="../css/product.css">

  <div class="container">
    <div class="row">

      <!-- if(message && message.length) {
        <div class="alert alert-success" role="alert"><message </div>
      } -->
      
      <% for(const product of products) { %>
      

        <div class="card" style="width: 18rem; margin: 0.75rem 1rem 0rem 1rem;">
          <img src="<%= product.img %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <h5 class="card-title"><%= product.price %></h5>
            <p class="card-text"><%= product.desc %></p>
            <a href="/products/<%= product._id %>" class="btn btn-primary">Show Product</a>
          </div>
        </div>

      
      <% } %>

    </div>
  </div>
  

